<div class="container">
  <h3 class="col-12 mt-4" style="font-family: monospace;">Follow these steps to setup your own SpotSearch</h3>
</div>
<div class="mt-2 container" style="background-color:#ffeeee;">
  <div class="card">
    <div class="col-12 p-4 pl-md-0" style="background-color:#ffaaee;"> 
      <div class="ml-3 mr-2">
        <h5>
          STEP 1 - <%= link_to 'Create Your own Spotify APP', 'https://developer.spotify.com/dashboard/login', target: :_blank, class: "btn btn-primary btn-xl" %>
        </h5>
        <p>something somethingsomethingsomething </p>
      </div>
    </div>
  </div>

    <div class="card"> 
      <div class="col-12 p-4 pl-md-0" style="background-color:#f0e68c;">
        <div class="ml-3 mr-2">
         <h5>STEP 2 - <%= link_to 'Add Your APP in SpotSearch', new_client_path, class: "btn btn-primary btn-xl" %></h5>
          <p>something somethingsomethingsomething </p>
        </div>
      </div>
    </div>

    <div class="card"> 
      <div class="col-12 p-4 pl-md-0" style="background-color:#b6dec8;">
        <div class="ml-3 mr-2">
          <h5>STEP 3 - <%= link_to 'Sign in with Spotify', "#{@url}#{@param.to_query}", class: "btn btn-primary btn-xl" %></h5>
          <p>something somethingsomethingsomething </p>
        </div>
      </div>
    </div>
</div>
  

